*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(fond-bleu-degrade-luxe-abstrait-bleu-fonce-lisse-vignette-noire-studio-banner_1258-54581.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
section form{
    background-color: rgba(0, 0, 0, 0.37);
    height: 500px;
    width: 400px;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
form h1{
    color: #fff;
    font-size: 2rem;
    text-align: center;
}
form .inpt{
    width: 100%;
    height: 50px;
    border: none;
    padding: 10px;
    background-color: #ffffff54;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}
form .inpt input{
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    height: 100%;
}
form .inpt input::placeholder{
    color: #fff;
    font-size: 15px;
}
form .inpt{
    color: #ffd000;
}
form .option{
    display: flex;
    align-items: center;
    position: relative;
    left: 0;
    gap: 10px;
    color: #fff;
}
form button{
    width: 70%;
    margin:0 auto;
    padding: 10px;
    background-color: #00a2ff;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
    border: none;
}
form a{
    color: #fff;
    text-align: center;
    text-decoration: none;
}